
img {
    width: 100%;
}
.gauche {
    float: left;
    width: 50%;
    text-align: center;
}
#chassis {
    margin-top: 95px;
}
#div-pot {
    margin-top: 275px;
}
label {
    font-size: x-large;
}
#div-input {
    text-align: center;
}
.check-with-label:checked + .label-for-check {
    background-color: #FF6F0F;
    font-weight: bold;
    color: white;
}
.div-fleche {
    font-size: xx-large;
    line-height: 775px;
    margin: 0;
}
.fleche {
    display: inline-block;
    background-color: #FF6F0F;
    line-height: 30px;
    width: 70px;
    height: 30px;
    color: black;
}
.fleche:hover {
    display: inline-block;
    color: white;
}
