
img {
    width: 100%;
}
.gauche {
    float: left;
    width: 50%;
    text-align: center;
}
.droite {
    float: left;
    margin-left: 150px;
    margin-top: 25px;
}
.pot-voiture {
    width: 78%;
}
.suspension {
    width: 53%;
    margin-top: 40px;
}

label {
    font-size: x-large;
}
.check-with-label:checked + .label-for-check {
    background-color: #FF6F0F;
    font-weight: bold;
    color: white;
}
#pot {
    margin-top: 130px;
}
#suspension {
    margin-top: 265px;
}
.div-fleche {
    font-size: xx-large;
    line-height: 775px;
    margin: 0;
}
.fleche {
    display: inline-block;
    background-color: #FF6F0F;
    line-height: 30px;
    width: 70px;
    height: 30px;
    color: black;
}
.fleche:hover {
    display: inline-block;
    color: white;
}
.prix-700 {
    margin-top: 30px;
}
.pot {
    margin-right: 50px;
}
