
h1 {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 20px;
}
input, textarea {
    border-radius: 5px;
    height: 45px;
    width: 75%;
    margin-bottom: 20px;
    padding-left: 10px;
}
.center {
    width: 40%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.envoyer {
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
    background: #FF6F0F;
}
.erreur {
    width: 76%;
    background-color: red;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 0;
}
.success {
    width: 76%;
    background-color: rgb(62, 255, 62);
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 0;
}

