
h1 {
    font-size: 73px;
    font-weight: bold;
    margin-bottom: 20px;
}
input {
    border-radius: 5px;
    height: 45px;
    width: 75%;
    margin-bottom: 20px;
    padding-left: 10px;
    box-shadow: 2px 2px 2px 2px grey;
}
.center {
    width: 40%;
    margin: auto;
    margin-top: 120px;
    text-align: center;
}
.inscription {
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    background: #FF6F0F;
    
}
.se-connecter {
    display: inline-block;
    width: 40%;
    height: 50px;
    vertical-align: middle;
    line-height: 46px;
    font-size: 20px;
    font-weight: bold;
    background: #FF6F0F;
    border-radius: 20px;
}
.erreur {
    width: 76%;
    background-color: red;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 0;
}
