
img {
    width: 400px;
}
.config {
    display: inline-block;
    background-color: #FF6F0F;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    vertical-align: middle;
    line-height: 44px;
}

