

.logo-ktm {
    width: 5%;
}
.font-size {
    font-size: x-large;
}
.pseudo-orange {
    display: inline-block;
    background: #FF6F0F;
    color:black;
}
.pseudo-orange:hover {
    color: white;
}
