
h2 {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 20px;
}
img {
    width: 40%;
}
input, textarea {
    border-radius: 5px;
    height: 45px;
    width: 75%;
    margin-bottom: 20px;
    padding-left: 10px;
}
.center {
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px grey solid;
    box-shadow: 2px 2px 2px 2px grey;
    margin-top: 50px;
    text-align: center;
}
.theme {
    display: inline;
    vertical-align: middle;
    line-height: 50px;
}
.modifier {
    width: 50%;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
    background: #FF6F0F;
}
.supprimer-compte {
    display: inline-block;
    width: 75%;
    height: 30px;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.3);
    color: red;
    vertical-align: middle;
    line-height: 32px;
}

